[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.*"
python-dotenv = ">=0.19.2"
apispec-webframeworks = "*"
apispec = {extras = ["marshmallow"], version = ">=5.1"}
marshmallow = ">=3.14"
flask-sqlalchemy = ">=2.5"
flask-migrate = ">=3.1"
unidecode = ">=1.3"
psycopg2-binary = ">=2.9"
webargs = "*"

[dev-packages]
black = ">=22.1.0"
isort = ">=5.10.1"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
server = "flask run"
black = "python -m black ."
flake8 = "python -m flake8"
isort = "isort ."
routes = "flask routes"
db = "flask db"
tests = "pytest --cov --cov-fail-under=80"
docker = "sudo systemctl start docker"
postgres_init = "docker run -d --name flask_postgres -e POSTGRES_PASSWORD=postgres -e POSTGRES_USER=postgres -v /home/sanjeev/Workspace/Data/Docker/Postgres/db/:/var/lib/postgresql/data -p 5432:5432 postgres"
pg_start = "docker start flask_postgres"
